<p id="notice"><%= notice %></p>

<h1>Testposts</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testposts.each do |testpost| %>
      <tr>
        <td><%= testpost.text %></td>
        <td><%= link_to 'Show', testpost %></td>
        <td><%= link_to 'Edit', edit_testpost_path(testpost) %></td>
        <td><%= link_to 'Destroy', testpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testpost', new_testpost_path %>
