<!DOCTYPE html>
<html>
  <head>
    <title>TUSApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<h1>エスキス(TUS-App)</h1>
      <%= image_tag("symbole03.jpg") %>
  	</header>
  	<hr>
    <%= yield %>
    <footer>
    <hr>
    <ul>
  		<li><%= link_to "エスキス新規投稿", :controller => "testposts", :action => "new" %></li>
  		<li><%= link_to "エスキス一覧へ", :controller => "testposts", :action => "index" %></li>
  	</ul>
    </footer>
  </body>
</html>